<%- include('../partials/topTemplate') %>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h1 mb-0 text-gray-800">Tambah/Perbarui Capaian Kinerja Pegawai</h1>
  </div>

  <% if (req.session.error) { %>
    <% req.session.error.forEach(error => { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% }) %>
  <% } %>

  <% delete req.session.error; %>
  
  <!-- Content Row -->
  <div class="row">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <form method="post" action="<%= baseUrl %>/admin/ckp-pegawai/tambah/<%= req.params.idPegawai %>">
                <div class="form-group mb-4">
                  <label class="text-dark">Tahun:</label>
                  <input required type="number" name="tahun" class="form-control">
                </div>
                <br>
                <a href="<%= baseUrl %>/admin/ckp-pegawai/pegawai" class="btn btn-danger">Batal</a>
                <button type="submit" class="btn btn-primary">Tambah/Perbarui CKP</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%- include('../partials/bottomTemplate') %>