<%- include('../partials/topTemplate') %>

<!-- Begin Page Content -->
<div class="container-fluid">
    <% if (req.session.alert) { %>
        <% req.session.alert.forEach(alert => { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= alert.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }) %>
    <% } %>

    <% if (req.session.error) { %>
        <% req.session.error.forEach(error => { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% }) %>
    <% } %>

    <% delete req.session.alert; %>
    <% delete req.session.error; %>

    <!-- Content Row -->
    <div class="row">
        <div class="container-fluid">
            <h1 class="h1 mb-3 text-gray-800">
                Daftar Pegawai
            </h1>
            <div class="card">
                <div class="card-body">                   

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="2%">No.</th>
                                    <th width="10%">NIP</th>
                                    <th>Nama</th>
                                    <th width="15%">Jabatan</th>
                                    <th width="15%">Divisi</th>
                                    <th width="17%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i = 1 %>
                                <% data.forEach(pegawai => { %>
                                    <tr>
                                        <td><%= i++ %></td>
                                        <td><%= pegawai.nip %></td>
                                        <td><%= pegawai.nama %></td>
                                        <% jabatan.forEach(jabatan => { %>
                                            <% if (jabatan.id == pegawai.idJabatan) { %>
                                                <td><%= jabatan.jabatan %></td>
                                            <% } %>
                                        <% }) %>
                                        <% divisi.forEach(divisi => { %>
                                            <% if (divisi.id == pegawai.idDivisi) { %>
                                                <td><%= divisi.divisi %></td>
                                            <% } %>
                                        <% }) %>
                                        <td>
                                            <a href="<%= baseUrl %>/admin/pegawai/detail/<%= pegawai.id %>" data-toggle="tooltip" data-placement="top" title="Lihat detail" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                                            <a href="<%= baseUrl %>/admin/pegawai/ubah/<%= pegawai.id %>" data-toggle="tooltip" data-placement="top" title="Ubah data" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                            <a href="<%= baseUrl %>/admin/pegawai/ubah-password/<%= pegawai.id %>" data-toggle="tooltip" data-placement="top" title="Ubah password" class="btn btn-warning btn-sm"><i class="fa fa-lock"></i></a>
                                            <a href="<%= baseUrl %>/admin/pegawai/hapus/<%= pegawai.id %>" data-toggle="tooltip" data-placement="top" title="Hapus data" class="btn btn-danger btn-sm delete-confirm"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <% if (totalPage > 0) { %>
                            <ul class="pagination justify-content-center">
                                <% if (currentPage == 1) { %>
                                    <li class="page-item disabled">
                                        <a class="page-link">Awal</a>
                                    </li>
                                <% } else {%>
                                    <li class="page-item">
                                        <a class="page-link" href="<%= baseUrl %>/admin/pegawai/daftar?page=1">Awal</a>
                                    </li>
                                <% } %>
                                <% let i = (currentPage > 5) ? currentPage - 4 : 1 %>
                                <% if (i != 1) { %>
                                    <li class="page-item disabled">
                                        <a class="page-link">...</a>
                                    </li>
                                <% } %>
                                <% for (; (i <= currentPage + 4) && (i <= totalPage); i++) { %>
                                    <% if (i == currentPage) { %>
                                        <li class="page-item active">
                                            <a class="page-link"><%= i %></a>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a class="page-link" href="<%= baseUrl %>/admin/pegawai/daftar?page=<%= i%>"><%= i %></a>
                                        </li>
                                    <% } %>
                                    <% if ((i == currentPage + 4) && (i < totalPage)) { %>
                                        <li class="page-item disabled">
                                            <a class="page-link">...</a>
                                        </li>
                                    <% } %>
                                <% } %>
                                <% if (currentPage == totalPage) { %>
                                    <li class="page-item disabled">
                                        <a class="page-link">Akhir</a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link" href="<%= baseUrl %>/admin/pegawai/daftar?page=<%= totalPage %>">Akhir</a>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<%- include('../partials/bottomTemplate') %>