<%- include('../partials/topTemplate') %>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Ubah Password Pegawai</h1>
  </div>

  <% if (req.session.error) { %>
    <% req.session.error.forEach(error => { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error.msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% }) %>
  <% } %>

  <% delete req.session.error; %>
  
  <!-- Content Row -->
  <div class="row">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <form method="post" action="<%= baseUrl %>/admin/pegawai/ubah-password/<%= req.params.id %>">
                <div class="form-group mb-4">
                  <label for="username" class="text-dark">Password Lama</label>
                  <input type="text" name="oldPassword" class="form-control" value="">
                </div>
                <div class="form-group mb-4">
                  <label for="password" class="text-dark">Password Baru</label>
                  <input type="password" name="newPassword" class="form-control">
                </div>
                <div class="form-group mb-4">
                  <label for="password_confirm" class="text-dark">Konfirmasi Password</label>
                  <input type="password" name="passwordConfirm" class="form-control">
                </div>
                <a href="<%= baseUrl %>/admin/pegawai/daftar" class="btn btn-danger">Batal</a>
                <button type="submit" class="btn btn-primary">Ubah</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%- include('../partials/bottomTemplate') %>